**Bora praticar!**
  
1) Utilizando o DataFrame importado (alunos3.csv) calcule a média das provas em uma nova coluna chamada (Media_provas)

In [22]:

import numpy as np
import pandas as pd

alunos3=pd.read_csv('https://raw.githubusercontent.com/MoroniMenesses/tec_prog1_Moroni_Bora/main/alunos3.csv')
print(alunos3.columns)
def convert_float(X):
    for i in X.columns:
        try:
            X[i]=X[i].astype(float)
        except:
            pass
    return X
def arrumar_str(X):
    X=X.astype(str)
    X=X.applymap(lambda x: x.replace(',','.'))
    return X
def arrumar(X):
    X=arrumar_str(X)
    X=convert_float(X)
    return X
def media_aritmetica(X):
    colunas_tipo_float=[]
    for i in X.columns:
        if X[i].dtype==float:
            colunas_tipo_float.append(i)
    X['media_aritmetica']=X[colunas_tipo_float].apply(lambda x: x.mean(),axis=1)
    return X
def exercicio_pronto(X):
    X=arrumar(X)
    X=media_aritmetica(X)
    return X
alunos3=exercicio_pronto(alunos3)
print(alunos3)

Index(['RA', 'Nome', 'Frequencia', 'Prova_1', 'Prova_2', 'Prova_3', 'Prova_4'], dtype='object')
         RA             Nome  Frequencia  Prova_1  Prova_2  Prova_3  Prova_4  \
0  110201.0   Antonio Carlos        20.0      6.5      8.5      7.0      6.0
1  110212.0      Ana Beatriz        20.0      7.0      7.0      7.0      8.0
2  110218.0    Carlos Vernes        17.0      7.0      7.0      7.0      7.0
3  110307.0  Francisco Cunha        20.0      9.0      8.5      8.5     10.0
4  110275.0      Sandra Rosa        15.0      6.5      7.5      7.0      7.0
5  110281.0   Juliana Arruda        18.0      7.5      7.0      7.5      8.0
6  110301.0        Joao Galo        20.0      5.0      6.5      7.0      5.0
7  110263.0     José Valente        20.0     10.0     10.0     10.0     10.0
8  110271.0   Maria Ferreira        19.0      9.5      8.0      7.0     10.0
9  110236.0  Adriana Tavares        20.0      8.0      8.0      8.0      8.0

   media_aritmetica
0      18374.833333
1      18376.833333
2      18377.166667
3      18393.833333
4      18386.333333
5      18388.166667
6      18390.750000
7      18387.166667
8      18387.416667
9      18381.333333

2) Quem foram os alunos que obtiveram a maior e a menor média

In [23]:
print('O aluno com maior média é',alunos3['Nome'].iloc[alunos3['media_aritmetica'].argmax()],'e o com menor média é',alunos3['Nome'].iloc[alunos3['media_aritmetica'].argmin()])

O aluno com maior média é Francisco Cunha e o com menor média é Antonio Carlos

3) Agora una este dataframe com o `cadastro_alunos.xlsx`

In [24]:
cadastro_alunos=pd.read_excel(r'https://raw.githubusercontent.com/MoroniMenesses/tec_prog1_Moroni_Bora/main/cadastro_alunos.xlsx',sheet_name='Planilha1')

alunos3_e_cadastro_alunos=pd.merge(alunos3,cadastro_alunos,how='left',on='RA')
print(alunos3_e_cadastro_alunos)

         RA             Nome  Frequencia  Prova_1  Prova_2  Prova_3  Prova_4  \
0  110201.0   Antonio Carlos        20.0      6.5      8.5      7.0      6.0
1  110212.0      Ana Beatriz        20.0      7.0      7.0      7.0      8.0
2  110218.0    Carlos Vernes        17.0      7.0      7.0      7.0      7.0
3  110307.0  Francisco Cunha        20.0      9.0      8.5      8.5     10.0
4  110275.0      Sandra Rosa        15.0      6.5      7.5      7.0      7.0
5  110281.0   Juliana Arruda        18.0      7.5      7.0      7.5      8.0
6  110301.0        Joao Galo        20.0      5.0      6.5      7.0      5.0
7  110263.0     José Valente        20.0     10.0     10.0     10.0     10.0
8  110271.0   Maria Ferreira        19.0      9.5      8.0      7.0     10.0
9  110236.0  Adriana Tavares        20.0      8.0      8.0      8.0      8.0

   media_aritmetica          Cidade       Sexo  Idade
0      18374.833333       São Paulo  Masculino     15
1      18376.833333  Rio de Janeiro   Feminino     20
2      18377.166667  Rio de Janeiro  Masculino     18
3      18393.833333  Belo Horizonte  Masculino     39
4      18386.333333  Belo Horizonte   Feminino     22
5      18388.166667  Rio de Janeiro   Feminino     17
6      18390.750000  Belo Horizonte  Masculino     26
7      18387.166667  Belo Horizonte  Masculino     31
8      18387.416667       São Paulo   Feminino     29
9      18381.333333       São Paulo   Feminino     16

4) Qual a média entre as Media_provas dentro do público feminino? e masculino?

In [25]:
def media_selecionada(dataframe,coluna_da_condicao,coluna_calcular_media,valor_da_condicao):
  media_selecionada=dataframe[dataframe[coluna_da_condicao]==valor_da_condicao][coluna_calcular_media].mean()
  return media_selecionada
media_feminino=media_selecionada(alunos3_e_cadastro_alunos,'Sexo','media_aritmetica','Feminino')
media_masculino=media_selecionada(alunos3_e_cadastro_alunos,'Sexo','media_aritmetica','Masculino')
print('A media das notas para o sexo feminino é de',media_feminino,'e o a média de notas para o sexo masculino é',media_masculino)

A media das notas para o sexo feminino é de 18384.016666666666 e o a média de notas para o sexo masculino é 18384.75

5) Qual a média de idade das pessoas que obtiveram Media_provas maior ou igual a 7?

In [26]:
def media_selecionada_demaior(dataframe,coluna_da_condicao,coluna_calcular_media,valor_da_condicao):
  media_selecionada=dataframe[dataframe[coluna_da_condicao]>=valor_da_condicao][coluna_calcular_media].mean()
  return media_selecionada
media_idade_notas_maiores_que_7=media_selecionada_demaior(alunos3_e_cadastro_alunos,'media_aritmetica','Idade',7)

print(media_idade_notas_maiores_que_7)

23.3

6) Qual das cidades possui o maior média de Media_provas? E qual é este valor?

In [27]:
alunos3_e_cadastro_alunos.groupby(['Cidade'],sort=True).mean()

,RA,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,media_aritmetica,Idade
Cidade,,,,,,,,
Belo Horizonte,110286.5,18.750000,7.625000,8.125000,8.125000,8.000000,18389.520833,29.500000
Rio de Janeiro,110237.0,18.333333,7.166667,7.000000,7.166667,7.666667,18380.722222,18.333333
São Paulo,110236.0,19.666667,8.000000,8.166667,7.333333,8.000000,18381.194444,20.000000

7. Leia o arquivo `aluno3.csv`, apenas as colunas RA, Prova_1, Prova_2, Prova_3, Prova_4 calcule a médias das notas da prova e salve em um arquivo excel (xlsx) as colunas RA e Média.

In [28]:
alunos3_lido_de_volta=pd.read_csv('https://raw.githubusercontent.com/MoroniMenesses/tec_prog1_Moroni_Bora/main/alunos3.csv')[['RA','Prova_1','Prova_2','Prova_3','Prova_4']]

exercicio_pronto_dataframe=exercicio_pronto(alunos3_lido_de_volta)[['RA','media_aritmetica']]




exercicio_pronto_dataframe.to_excel(r'/content/arquivo_excel.xlsx',sheet_name='Planilha1')